In [1]:
!pip install pyspark --quiet
!pip install -U -q PyDrive --quiet
!apt install openjdk-8-jdk-headless &> /dev/null

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [3]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().set('spark.ui.port', '4050').setAppName("netflix").setMaster("local[2]")
sc = SparkContext.getOrCreate(conf=conf)

In [4]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip &> /dev/null
!unzip ngrok-stable-linux-amd64.zip &> /dev/null
get_ipython().system_raw('./ngrok http 4050 &')

In [5]:
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/lib/python3.10/json/__init__.py", line 293, in load
    return loads(fp.read(),
  File "/usr/lib/python3.10/json/__init__.py", line 346, in loads
    return _default_decoder.decode(s)
  File "/usr/lib/python3.10/json/decoder.py", line 337, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "/usr/lib/python3.10/json/decoder.py", line 355, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [6]:
sc

In [38]:
import pyspark as spark
from pyspark.sql import SparkSession

In [39]:
spark = SparkSession.builder.master("local").appName("Search").config(conf=SparkConf()).getOrCreate()

In [40]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
mschema = StructType([ \
    StructField("name",StringType(),True), \
    StructField("age", IntegerType(), True), \
    StructField("city", StringType(), True) \
  ])

In [41]:
mdata=[('jenny',25,'delhi'),
('jack',90,'pune'),
('jill',45,'delhi'),
('john',30,'pune')]

In [42]:
df = spark.createDataFrame(data=mdata,schema=mschema)
df.printSchema()
df.show(truncate=False)

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)

+-----+---+-----+
|name |age|city |
+-----+---+-----+
|jenny|25 |delhi|
|jack |90 |pune |
|jill |45 |delhi|
|john |30 |pune |
+-----+---+-----+

In [43]:
pdata=[(101,'Alice','Smith',30),
(102,'Bob','Johnson',45),
(103,'Charlie','Williams',50)]

In [44]:
pschema = StructType([ \
    StructField("Pid",IntegerType(),True), \
    StructField("Fname", StringType(), True), \
    StructField("Lname", StringType(), True),\
    StructField("age", IntegerType(), True)\
  ])

In [46]:
df1 = spark.createDataFrame(data=pdata,schema=pschema)
df1.printSchema()
df1.show(truncate=False)

root
 |-- Pid: integer (nullable = true)
 |-- Fname: string (nullable = true)
 |-- Lname: string (nullable = true)
 |-- age: integer (nullable = true)

+---+-------+--------+---+
|Pid|Fname  |Lname   |age|
+---+-------+--------+---+
|101|Alice  |Smith   |30 |
|102|Bob    |Johnson |45 |
|103|Charlie|Williams|50 |
+---+-------+--------+---+

In [47]:
vdata=[(1,101,15),
(2,101,30),
(3,102,45),
(4,102,30),
(5,103,60),
(6,103,50)]

In [ ]:
pschema = StructType([ \
    StructField("Vid",IntegerType(),True), \
    StructField("", StringType(), True), \
    StructField("Lname", StringType(), True),\
    StructField("age", IntegerType(), True)\
  ])